---
import BrandVercel from "./icons/BrandVercel.astro";
import GithubCat from "./icons/GithubCat.astro";
import Analytics from "./icons/Analytics.astro";
import ProjectDetails from "./ProjectDetails";

const { projects, active } = Astro.props;
---

<div class="flex px-2 lg:px-0 flex-col gap-y-16 flex-wrap">
  {
    projects.map(
      (data: {
        id: string;
        title: string;
        image: string;
        description: string;
        tags: any;
        github: string;
        link: string;
        color: string;
        documentation: string;
      }) => (
        <article
          class={`  flex-wrap sm:justify-center  flex flex-1 md:gap-x-10  space-x-0 space-y-8 group md:flex-row-reverse  md:space-y-0`}
        >
          <ProjectDetails
            image={data.image}
            title={data.title}
            id={data.id}
            active={active}
            client:load
          />
          <div class="w-full md:w-1/2 md:max-w-lg">
            <h3 class="text-2xl font-bold pt-0 mt-0">{data.title}</h3>
            <div class="flex flex-row flex-wrap mt-2">
               <div class="mt-2 text-gray-700 dark:text-gray-400">
                {data.description}
              </div>
              <ul class="gap-x-2 w-full flex py-4 items-center text-center mb-2">
                {data.tags.map(
                  (tag: { icon: any; name: string; class: string }) => (
                    <li
                      class={`flex text-white dark:text-white items-center gap-x-2 rounded-full py-0.5 px-2 text-sn ${tag.class}`}
                    >
                      <tag.icon class="size-4" />
                      {tag.name}
                    </li>
                  ),
                )}
              </ul>
             
              <footer class="flex items-end justify-start mt-4 gap-x-2">
                {data.github && (
                  <a
                    target="_blank"
                    class=" flex items-center gap-x-2 text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-200 focus:ring-4 focus:ring-gray-200 font-normal rounded-xl text- px-4 py-2 me-2 mb-2 dark:bg-neutral-950 dark:text-white dark:border-gray-600 dark:hover:bg-neutral-800 dark:hover:border-gray-600 dark:focus:ring-gray-700"
                    href={data.github}
                  >
                    <GithubCat class="size-5" />
                    Código
                  </a>
                )}
                {data.link && (
                  <a
                    target="_blank"
                    class="flex items-center gap-x-2 text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-200 focus:ring-4 focus:ring-gray-200 font-normal rounded-xl text-base px-4 py-2 me-2 mb-2 dark:bg-neutral-950 dark:text-white dark:border-gray-600 dark:hover:bg-neutral-800 dark:hover:border-gray-600 dark:focus:ring-gray-700"
                    href={data.link}
                  >
                    <BrandVercel class="size-5 fill-black dark:fill-white" />
                    Visitar
                  </a>
                )}
                {data.documentation && (
                  <a
                    class="flex items-center gap-x-2 text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-200 focus:ring-4 focus:ring-gray-200 font-normal rounded-xl text-base px-4 py-2 me-2 mb-2 dark:bg-neutral-950 dark:text-white dark:border-gray-600 dark:hover:bg-neutral-800 dark:hover:border-gray-600 dark:focus:ring-gray-700"
                    href={data.documentation}
                  >
                    <Analytics class="size-5" />
                    Documentación
                  </a>
                )}
              </footer>
            </div>
          </div>
        </article>
      ),
    )
  }
</div>
