---
import React from "./icons/React.astro";
import C from "./icons/Cplusplus.astro";
import Svelte from "./icons/Svelte.astro";
import javaScript from "./icons/javaScript.astro";
import Html from "./icons/Html.astro";
import Css from "./icons/Css.astro";
import Github from "./icons/GithubIcon.astro";
import GithubCat from "./icons/GithubCat.astro";
import BrandVercel from "./icons/BrandVercel.astro";
const tags = {
  React: {
    name: "ReactJS",
    class: "bg-blue-500 text-white",
    icon: React,
  },
  C: {
    name: "C++",
    class: "bg-pink-500 text-white",
    icon: C,
  },
  Html: {
    name: "Html 5",
    class: "bg-blue-500 text-white",
    icon: Html,
  },
  Svelte: {
    name: "Svelte",
    class: "bg-orange-500 text-white",
    icon: Svelte,
  },
  JavaScript: {
    name: "JavaScript",
    class: "bg-yellow-500",
    icon: javaScript,
  },
  Css: {
    name: "Css",
    class: "bg-blue-800",
    icon: Css,
  },
};
const projects = [
  {
    title: "Search Movies and books!",
    description:
      "Fue creado con el proposito de aprender acerca de Svelte, actualmente presenta dos funciones principales las cuales son la busqueda de libros y peliculas",
    link: "https://search-movies-and-books.vercel.app/",
    github: "https://github.com/Deyverson1/search-movies-and-books",
    image: "/projects/SearchMovie.png",
    tags: [tags.Svelte],
  },
  {
    title: "Dropi.co - Replic with ReactJs",
    description:
      "Tiene como objetivo replicar la página web existente en https://dropi.co utilizando tecnologías avanzadas como ReactJS. ",
    link: "https://dropi-replic.vercel.app/",
    github: "https://github.com/Deyverson1/dropi-replic",
    image: "/projects/Dropies.png",
    tags: [tags.React, tags.JavaScript],
  },
  {
    title: "Implementación de sensores",
    description:
      "Este proyecto contiene codigo de Arduino y Processing para la medida con los sensores SHT-30, HC-SR04, Termistor.",
    github:
      "https://github.com/Deyverson1/SHT-30-Humidity-HC-SR04-Distance-Termistor-Temperatura",
    image: "/projects/Dropies.png",
    tags: [tags.C],
  },
  {
    title: "Challenger Encriptador",
    description:
      "Fue presentado como Challenge en la formacion FrontEnd G5 Oracle Next Education el cual implicaba el desarrollo de un Ecriptador-Desencriptador",
    github:
      "https://github.com/Deyverson1/SHT-30-Humidity-HC-SR04-Distance-Termistor-Temperatura",
      link:
      "https://encriptador-github-io.vercel.app/",
    image: "/projects/Encriptador.png",
    tags: [tags.JavaScript, tags.Html, tags.Css],
  },
];

---

<div class="flex flex-col gap-y-16 flex-wrap">
  {
    projects.map(({ title, image, description, tags, github, link }) => (
      <article class="flex-wrap sm:justify-center xl:flex-nowrap flex flex-1  space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0 ">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              src={image}
              alt={"Extraido de" + title}
            />
          </div>
        </div>
        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold pt-0 mt-0">{title}</h3>
          <div class="flex flex-row flex-wrap mt-2">
            <ul class="gap-x-2 flex mb-2">
              {tags.map((tag) => (
                <li
                  class={`flex items-center gap-x-2 rounded-full py-0.5 px-2 text-sn ${tag.class}`}
                >
                  <tag.icon class="size-4" />
                  {tag.name}
                </li>
              ))}
            </ul>
            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-2">
              {github && (
                <a
                  class=" flex items-center gap-x-2 text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-normal rounded-xl text- px-4 py-2 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
                  href={github}
                >
                  <GithubCat class="size-5" />
                  Code
                </a>
              )}
              {
                //condicionado, en caso de no contener repositorio o sitio web
                link && (
                  <a
                    class="flex items-center gap-x-2 text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-nromal rounded-xl text-base px-4 py-2 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
                    href={link}
                  >
                    <BrandVercel class="size-5" />
                    Preview
                  </a>
                )
              }
            </footer>
          </div>
        </div>
      </article>
    ))
  }
  <div class="flex justify-center">
    <a href="https://github.com/Deyverson1?tab=repositories" target="_blank" class="lex items-center gap-x-2 text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-nromal rounded-xl text-base px-4 py-2 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">Ver mas...</a>
  </div>
</div>
