---
import { HeroData } from '../../info/HeroData';
const buttonBase =
  // Styles base
  'inline-flex items-center justify-center gap-2 px-4 py-2 transition border rounded-full text-md max-w-fit hover:motion-safe:animate-pulse hover:bg-gray-300 hover:border-gray-700  ' +
  // Dark color styles
  'dark:bg-neutral-900 dark:border-gray-600 dark:text-white dark:hover:bg-neutral-600' +
  // White color styles
  ' text-gray-800 bg-gray-100 border-gray-300';
---

<section
  class="flex flex-col items-center justify-center w-full px-10 pt-10 md:px-2 xl:pt-8 2xl:py-36"
>
  <h1
    class="text-2xl font-bold tracking-tight text-gray-900 xl:text-3xl 2xl:text-4xl sm:text-5xl dark:text-white"
  >
    Hola, Soy Deyverson
  </h1>
  <p
    class="max-w-xl pt-4 font-medium leading-relaxed text-center text-gray-800 xl:text-xl 2xl:text-2xl dark:text-gray-300"
  >
    Dise침o y desarrollo soluciones digitales con enfoque l칩gico, industrial y
    centrado en el usuario
  </p>
  <p class="max-w-xl mt-5 text-center xl:text-lg 2xl:text-xl">
    <strong class="font-light dark:text-gray-300"
      >Tecn칩logo Mecatr칩nico y Desarrollador de aplicaciones Web - Cali,
      Colombia
    </strong>
  </p>
  <div class="flex flex-wrap items-center justify-center gap-4 mt-8 md:mt-16">
    {
      HeroData.map((data) => (
        <a
          target={data.target}
          class={`${buttonBase} text-xs md:text-lg`}
          href={data.link}
        >
          <data.icon
            class={`size-3 md:size-4 dark:fill-white ${data.iconClass}`}
          />{' '}
          {data.name}
        </a>
      ))
    }
  </div>
</section>
