---
import { HeroData } from '../../info/HeroData';
const buttonBase =
  // Styles base
  'inline-flex items-center justify-center gap-2 px-4 py-2 transition border rounded-full text-md max-w-fit hover:motion-safe:animate-pulse hover:bg-gray-300 hover:border-gray-700  ' +
  // Dark color styles
  'dark:bg-neutral-900 dark:border-gray-600 dark:text-white dark:hover:bg-neutral-600' +
  // White color styles
  ' text-gray-800 bg-gray-100 border-gray-300';
---

<section
  class="flex flex-col items-center justify-center w-full px-2 xl:pt-8 2xl:py-36"
>
  <h1
    class="xl:text-3xl 2xl:text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl dark:text-white"
  >
    Hola, Soy Deyverson
  </h1>
  <p
    class="max-w-xl font-medium text-center xl:text-xl 2xl:text-2xl pt-4 text-gray-800 dark:text-gray-300 leading-relaxed"
  >
    Dise침o y desarrollo soluciones digitales con enfoque l칩gico, industrial y
    centrado en el usuario
  </p>
  <p
    class="max-w-xl mt-5 xl:text-lg 2xl:text-xl text-center font-extralight text-gray-900 dark:text-gray-300"
  >
    <strong class="dark:text-gray-300"
      >Tecn칩logo Mecatr칩nico y Desarrollador de aplicaciones Web - Cali,
      Colombia
    </strong>
  </p>
  <div class="flex flex-wrap items-center justify-center gap-4 mt-16">
    {
      HeroData.map((data) => (
        <a target={data.target} class={`${buttonBase}`} href={data.link}>
          <data.icon class={`size-4 dark:fill-white ${data.iconClass}`} />{' '}
          {data.name}
        </a>
      ))
    }
  </div>
</section>
